<p id="notice"><%= notice %></p>

<p>
  <strong>Pacient:</strong>
  <%= @constancy.pacient_id %>
</p>

<%= link_to 'Edit', edit_constancy_path(@constancy) %> |
<%= link_to 'Back', constancies_path %>
