<p id="notice"><%= notice %></p>

<h1>Constancias</h1>

<div class = "field form-group">
  <strong>Paciente:</strong>
  <%= @constancy.pacient_id %>
</div>

<%= link_to 'Edit', edit_constancy_path(@constancy), class: 'btn btn-default btn-sm' %> |
<%= link_to 'Back', constancies_path, class: 'btn btn-default btn-sm' %>
