<h1>Modificar Expediente</h1>

<%= render 'form', expedient: @expedient %>

<%= link_to 'Mostrar', @expedient, class: 'btn btn-default btn-sm' %> |
<%= link_to 'Atras', expedients_path, class: 'btn btn-default btn-sm' %>
